$plate-margin:          2rem 0;
$plate-margin-small:    .5rem 0;
$plate-padding:         2rem;

.plate {
  @extend .z-depth-2;

  display: block;
  border-radius: $border-radius;
  height: fit-content;
  margin: $plate-margin;
  padding: $plate-padding;

  iframe {
    border: 0;
    width: 100%;
  }
}

.plate-small {
  @extend .plate;
  border-radius: $border-radius-small;
  margin: $plate-margin-small;
}

.theme-plate {
  @extend .theme-dark-green;
  @extend .white-text;

  padding: 0.5rem;
  border-radius: $border-radius-small;
}
