/*Обнуление стилей*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{
    outline: none;
}

a:focus,a:active{
    outline: none;
}

nav,footer,header,aside{
    display: block;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow:  hidden;
}

input,textarea,button{
    font-family: inherit;
}

input::-ms-clear{
    display: none;
}
button{
    cursor: pointer;
}
button::-moz-focus-inner{
    padding:0;border:0;
}
a, a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
    font-size:inherit;font-weight: 400;
}
/*_____________________________________*/

body{
    font-family: 'Inter', sans-serif;
    }
    
.container{
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    
 }

 .burger-menu__btn{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 30;
    width: 80px;
    height: 80px;
}

.burger-menu_lines,
.burger-menu_lines::after,
.burger-menu_lines::before {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: rgba(68, 153, 98, 1);
}

.burger-menu_lines{
    top:50%;
    right:0%;
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before{
    content: '';
    top: 10px;
}

.burger-menu_lines::after{
    content: '';
    top: -10px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

.margin-top{
    margin-top: 50px;
}

.margin-bot{
    margin-bottom: 50px;
}

.margin-bot_1{
    margin-bottom: 30px;
}

header{
    display: flex;

}

.d4 {
    background: rgba(68, 153, 98, 1);
    position: relative;
    font-size: 16px;
    width: 900px;
    border-radius: 5px;
    border: none;
}
.d4 form {
  background: rgba(244, 247, 254, 1);
  border-bottom: 4px solid rgba(68, 153, 98, 1);

  
}
.d4 input, .d4 button {
  border: none;
  outline: none;
  background: transparent;
}
.d4 input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.d4 button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d4 button:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 20px;
  color: rgba(27, 69, 57, 1);
}

.border{
    border: 3px solid black;
}

.style-comm{
    height: 30px;
    display: block;
   ;
    display: flex;
    justify-content: center;

}

.style-comm p{
    font-size: 18px;
    color: white;
    margin-top: auto;
    background-color: rgba(24, 24, 26, 1);
    width: 270px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.wrapper{

    display: flex;
    flex-direction: column ;
    align-items: center;
}

.video__item{
    width: 100%;
}

.authors a{
    text-decoration: none;
    color: #666;
}

.authors{
    font-size: 24px;
}

.search {
    position: relative;
  }
  
  .input-search {
    background-color: transparent;
    border: 2px solid rgba(68, 153, 98, 1);
    height: 50px;
    width: 50px;
    padding: 0 0px;
    font-size: 1.1em;
    font-weight: lighter;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: rgba(68, 153, 98, 1);
    margin-top:10px ;
    margin-left:10px;
    margin-bottom: 20px;
  }
  
  .input-search:focus {
    width: 200px;
    padding: 0 12px;
    outline:none;
  }
  
  .input-search+.search:before {
    content: '';
    border-top: 3px solid rgba(68, 153, 98, 1);
    width: 0px;
    display: block;
    position: absolute;
    right: -2px;
    bottom: 19px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0s; /* Safari */
      transition-delay: 0s;
  }
  
  .input-search:focus+.search:after {
    content: '';
    border-top: 3px solid rgba(68, 153, 98, 1);
    display: block;
    position: absolute;
    right: 10px;
    bottom: 9px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .input-search:focus+.search:before {
    right: 10px;
    bottom: 9px;
    width: 15px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0.2s; /* Safari */
      transition-delay: 0.2s;
  }
  
  .plus {
    position:relative;
    border: 1px dotted white;
    width: 3px;
    height: 3px;
    background-color: black;
    box-sizing: border-box;
    transform: scale(11);
  }

  .form-controls {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgba(244, 247, 254, 1);
    background-clip: padding-box;
    border: none;
    border-radius: 5px;
    resize: none;
}

/*Button*/

.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #4a4b4d;;
    box-sizing: border-box;
    color: #4a4b4d;;
    cursor: pointer;
    display: inline-flex;
    fill: #4a4b4d;;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: rgba(68, 153, 98, 1);
    color: white;
    fill: rgba(68, 153, 98, 1);
    background-color: rgba(68, 153, 98, 1);
  }
  
  .button-59:active {
    border-color: rgba(68, 153, 98, 1);
    color: rgba(27, 69, 57, 1);
    fill: rgba(68, 153, 98, 1);
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }

  .btn_rasp{
    margin-top: 10px;
  }

  .button_1{
    display: flex;
    justify-content: flex-end
  }

  .money{
    font-size: 20px;
    margin-left:10px ;
    margin-top: 23px;
  }
